enzyme==0.4.1
pytoml==0.1.7
jinja2==2.8.0
git+git://github.com/cloew/flexconfig.git
git+git://github.com/cloew/KaoDecorators.git
git+git://github.com/cloew/KaoModules.git
git+git://github.com/cloew/KaoCommand.git
git+git://github.com/cloew/KaoDict.git
git+git://github.com/cloew/KaoToml.git
git+git://github.com/cloew/KaoListDict.git
wheel==0.24.0
